body {
    background-color: #EEEEEE;
}

h1 {
    text-align: center;
    font-weight: 900;
}

.game-board {
    height: 72vh;
    aspect-ratio: 1 / 1;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    align-items: center;
    justify-items: center;

    align-content: center;

    gap: 8px;
    background-color: #444444;
}

.tile {
    width: 100%;
    height: 100%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 900;
    font-size: 16vh;
    color: #444444;
}