@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
    --graphite: #474A51;
}

body {
    background-color: #EEEEEE;
}

h1 {
    text-align: center;
    font-weight: 900;
}

.game-board {
    height: 60vh;
    aspect-ratio: 1 / 1;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    align-items: center;
    justify-items: center;

    align-content: center;

    gap: 8px;
    background-color: var(--graphite);
}

.tile {
    width: 100%;
    height: 100%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 900;
    font-size: 16vh;
    color: var(--graphite);
}

.console {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;

    justify-items: center;
    align-items: center;

    padding: 16px;
}

.console>button {
    border: none;
    background-color: var(--graphite);
    color: white;
    padding: 8px;
    border-radius: 8px;
}

.console>div>input {
    border: none;
    padding: 8px;
    border-radius: 8px;
}

.console>div:first-child>h2 {
    text-align: start;
}

.console>div:last-child>h2 {
    text-align: end;
}

.result-display {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: #00AB66;
}